@using Inspinia_MVC5_SeedProject.App_LocalResources

@{
    ViewBag.Title = Resource.SettingsTitle;
}

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}
@helper selected(string c, string culture)
{
if (c == culture)
{
        @:checked="checked"
    }
}

@using (Html.BeginForm("SetCulture", "Home"))
{
    <fieldset>
        <legend>@Resource.SettingsChooseYourLanguage</legend>
        <div class="control-group">
            <div class="controls">
                <label for="en-us">
                    <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="tr">
                    <input name="culture" id="tr" value="tr" type="radio" @selected("tr", culture) /> Türkçe
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label for="ar">
                    <input name="culture" id="ar" value="ar" type="radio" @selected("ar", culture) /> العربية
                </label>
            </div>
        </div>

    </fieldset>
}

@section Scripts {
    <script type="text/javascript">
        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); // post form
            });
        })(jQuery);
    </script>
}