<div class="ibox float-e-margins">
    <div class="btn-group">
        <button class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Create an asset <span class="caret"></span></button><div class="dropdown-backdrop"></div>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create Email", "Create", "Email", null, null)</li>
            <li>@Html.ActionLink("Create Url", "Create", "Url", null, null)</li>
        </ul>
    </div>
</div>