@using Inspinia_MVC5_SeedProject.Models;
@using Inspinia_MVC5_SeedProject.App_LocalResources

@{
    ViewBag.Title = Resource.EntityBaseTitle;
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @Html.Partial("IndexPV/Ip")
        @Html.Partial("IndexPV/Twitter")
        @Html.Partial("IndexPV/IpRange")
        @Html.Partial("IndexPV/Instagram")
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modalContent">
        </div>
    </div>
</div>

@section Scripts {
    
    <script type="text/javascript">
        $(function () {
            $('a.createBtn, a.editBtn, a.deleteBtn').on('click', function (e) {
                $('#modalContent').load(this.href, function () {
                    $('#myModal').modal('show');
                    $('form', this).submit(function () {
                        event.preventDefault();
                        $.ajax({
                            url: this.action,
                            type: this.method,
                            data: $(this).serialize(),
                            }).done(function() {
                                $('#myModal').modal('hide');
                            });
                    });
                });
                return false;
            });
        });
    </script>
}